@import "tailwindcss";

:root{
    --primary-hue: 143.881;
    --secondary-hue: 22;
    --primary: var(--primary-hue), 100%, 39%;
    --primary-light: var(--primary-hue), 100%, 50%;
    --primary-dark: var(--primary-hue), 100%, 25%;
    --secondary: var(--secondary-hue), 100%, 50%;
    --secondary-light: var(--secondary-hue), 100%, 60%;
}

/* Cleaning the default CSS body*/
body{
    margin: 0;
}

/*Custom tailwind class utilities*/
@theme{
    --color-primary: hsl(var(--primary));
    --color-primary-light: hsl(var(--primary-light));
    --color-primary-dark: hsl(var(--primary-dark));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-light: hsl(var(--secondary-light))
}

/*Custom classes*/

/*Nav styles*/
.navlink {
    color: white;
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
    margin: calc(var(--spacing) * 1)
       
}

.navlink:hover{
    color: var(--color-primary-light)
}

.navlink.selected{
    background-color: hsla(var(--primary-dark), .70);
}

.navlink.selected:hover{
    color: white;
}