---
import Hook from "../components/Hook.astro";
import Pill from "../components/Pill.astro";
import MainLayout from "../layouts/MainLayout.astro";


const title = "Guillermo Morales"
const description = "Guillermo Morales' professional portfolio"
---


<MainLayout {title} {description}>
    <Hook />
    <div class="m-5">
        <Pill name="tech/php" text="PHP" color="#777BB4"/>
    </div>
</MainLayout>
