---
import MainLayout from "../layouts/MainLayout.astro";


const title = "Guillermo Morales"
const description = "Guillermo Morales' professional portfolio"
---


<MainLayout {title} {description}>
    <p class="mt-20">Este es el main</p>
</MainLayout>
