---
import Image from "astro/components/Image.astro";
import Link from "./Link.astro";

---
<section class="py-40 relative px-50 max-sm:px-10">
    <div class="text-center my-12 flex gap-10">
        <div>
            <Image src="/images/programmersBattle.jpg" alt="Champion @ Programmers Battle 2024" width="600" height="500" class="-z-1 me-10 max-sm:float-none max-md:mx-auto aspect-10/8" />
            <p class="text-xl text-stone-600 mt-5">Champion of the Programmers Battle 2024 edition!🏆</p>
        </div>
        <div>
            <h2 class="text-7xl font-bold">About Guille</h2>
            <p class="mt-5 text-2xl text-left">Im passionate about lots of things!  Personally, I believe that our passions are a fuel to accomplish our goals and objectives</p>
            <p class="mt-5 text-2xl text-left">Some of my interests:</p>
            <ul class="text-2xl text-left mx-10 list-disc">
                <li>Technology</li>
                <li>Speaking foreign languages</li>
                <li>Teaching Japanese</li>
                <li>Reading intersting stories</li>
                <li>Basketball</li>
            </ul>
            <div class="flex justify-center">
                <Link path="/me/" text="Get to know me" styleClass=`border border-solid border-primary-dark py-3 px-10 font-semibold text-xl text-primary-dark hover:bg-primary-dark hover:text-stone-50 transition duration-200 ease-in-out` isRounded={true}/>
            </div>
        </div>
    </div>
</section>