---
import Image from "astro/components/Image.astro";

---


<section class="pb-50">
    <div class="container mx-auto">
        <Image src="/images/headshot.jpg" alt="Guillermo Morales" width="400" height="300" class="float-right -z-1 me-10 max-sm:float-none max-md:mx-auto" />
        <div class="max-w-9/10 mx-2">
            <h1 class="text-8xl font-semibold">Let's build your next <span class="text-primary"><span class="font-bold">BIG</span> idea</span> </h1>
        </div>
        <div class="mt-2 mx-3">
            <p class="text-2xl max-w-1/2 max-sm:max-w-9/10 max-lg:max-w-7/10" >
                Hi! I'm <span class="text-primary">Guillermo Morales</span>, a Software Engineer in love with crafting creative solutions to real world problems
            </p>
        </div>
    </div>
</section>