---
import { Icon } from "astro-icon/components";


interface Icon{
    name: string,
    atLeft: boolean,
    width?: number,
    height?: number
};

interface Link {
    path: string,
    text: string,
    bg: string
    styleClass: string,
    isFilled: boolean,
    isRounded: boolean,
    isSelected: boolean,
    newTab: boolean, 
    icon?: Icon,
};


const {
    path, 
    text, 
    styleClass,
    isRounded=false,
    isSelected=false,
    newTab=false,
    icon,
    } = Astro.props as Link
---


<a href={path} target={newTab? "_blank": "_self" } class:list={[styleClass, "text-center", {selected: isSelected, "rounded-full": isRounded}]}>
    {
        icon && icon.atLeft && (
            <Icon name={icon.name} width={icon.width? icon.width: 24} height={icon.height? icon.height: 24}/>
        )
    }
    <span>{text}</span>
    {
        icon && !icon.atLeft && (
            <Icon name={icon.name} width={icon.width? icon.width: 24} height={icon.height? icon.height: 24}/>
        )
    }
</a>