---
import { Icon } from "astro-icon/components";

import * as Effects from "../js/effects.mjs";

const {title, iconName, smallText, logoBg} = Astro.props
---


<div class="inline-flex w-50 text-stone-50 rounded-lg m-10 select-none">
    <div class="flex justify-center items-center px-5 py-2 rounded-l-lg" style=`background-color: ${logoBg}`>
        <Icon name={iconName} width="26" height="26"/>
    </div>
    <div class="bg-stone-900/90 flex flex-1 flex-col rounded-r-lg px-3 py-1">
        <div>
            <p class="font-semibold">{title}</p>
        </div>
        <div>
            <small class="text-sm text-stone-400">{smallText}</small>
        </div>
    </div>
</div>